include ./autocomplete
include ./radio
include ./collapse
include ./checkbox
include ./rating
include ./popup
include ./publication-item
include ./textarea

block addPublicationVars
  -
    var sortingOptions = [
      { value: 'popular-asc',  text: "По популярности", icon: "sorting-top" },
      { value: 'rate-asc',     text: "По рейтингу",     icon: "sorting-top" },
      { value: 'cost-asc',     text: "По стоимости",    icon: "sorting-top" },
      { value: 'name-asc',     text: "По названию",     icon: "sorting-top" },
      { value: 'popular-desc', text: "По популярности", icon: "sorting-down" },
      { value: 'rate-desc',    text: "По рейтингу",     icon: "sorting-down" },
      { value: 'cost-desc',    text: "По стоимости",    icon: "sorting-down" },
      { value: 'name-desc',    text: "По названию",     icon: "sorting-down" }
    ]
  -
    var collapses = [
      {
        title: "Платья и сарафаны",
        checkboxes: [
          { name: "0size38", text: "Вечерние платья" },
          { name: "0size38", text: "Деловые платья" },
          { name: "0size38", text: "Сарафаны" },
          { name: "0size38", text: "Экстравагантные дизайнерские платья" },
        ]
      },
      {
        title: "Платья и сарафаны2",
        checkboxes: [
          { name: "0size38", text: "Вечерние платья" },
          { name: "0size38", text: "Деловые платья" },
          { name: "0size38", text: "Сарафаны" },
          { name: "0size38", text: "Экстравагантные дизайнерские платья" },
          { name: "0size38", text: "Юбки" },
        ]
      },
      {
        title: "Платья и сарафаны3",
        checkboxes: [
          { name: "0size38", text: "Вечерние платья" },
          { name: "0size38", text: "Деловые платья" },
          { name: "0size38", text: "Сарафаны" },
          { name: "0size38", text: "Экстравагантные дизайнерские платья" },
          { name: "0size38", text: "Юбки" },
        ]
      },
      {
        title: "Платья и сарафаны4",
        checkboxes: [
          { name: "0size38", text: "Вечерние платья" },
          { name: "0size38", text: "Деловые платья" },
          { name: "0size38", text: "Сарафаны" },
          { name: "0size38", text: "Экстравагантные дизайнерские платья" },
          { name: "0size38", text: "Юбки" },
        ]
      },
      {
        title: "Платья и сарафаны5",
        checkboxes: [
          { name: "0size38", text: "Вечерние платья" },
          { name: "0size38", text: "Деловые платья" },
          { name: "0size38", text: "Сарафаны" },
          { name: "0size38", text: "Экстравагантные дизайнерские платья" },
          { name: "0size38", text: "Юбки" },
        ]
      },
      {
        title: "Платья и сарафаны6",
        checkboxes: [
          { name: "0size38", text: "Вечерние платья" },
          { name: "0size38", text: "Деловые платья" },
          { name: "0size38", text: "Сарафаны" },
          { name: "0size38", text: "Экстравагантные дизайнерские платья" },
          { name: "0size38", text: "Юбки" },
        ]
      },
      {
        title: "Платья и сарафаны7",
        checkboxes: [
          { name: "0size38", text: "Вечерние платья" },
          { name: "0size38", text: "Деловые платья" },
          { name: "0size38", text: "Сарафаны" },
          { name: "0size38", text: "Экстравагантные дизайнерские платья" },
          { name: "0size38", text: "Юбки" },
        ]
      },
    ]
  -
    var publicationAllItems = [
      {
        id: 'item-all-1',
        extraClass: 'publication-item--dark',
        img: 'item-publication.jpg',
        title: 'Костюм классический UNIQ',
        price: '10 000',
        currency: '₽',
        descr: '<span class="add-publication__content-results-list-item-subtitle">Магазин</span> UNIQ',
        rated: true,
        ratingValue: 4,
      },
      {
        id: 'item-all-2',
        extraClass: 'publication-item--green',
        img: 'item-publication.jpg',
        title: 'Костюм классический UNIQ',
        price: '10 000',
        currency: '₽',
        descr: '<span class="add-publication__content-results-list-item-bought">Этот товар вы купили <svg><use xlink:href="./img/icons/icons.svg#check"></use></svg></span>',
        rated: false,
      },
      {
        id: 'item-all-3',
        extraClass: 'publication-item--dark',
        img: 'item-publication.jpg',
        title: 'Костюм классический UNIQ',
        price: '10 000',
        currency: '₽',
        descr: '<span class="add-publication__content-results-list-item-subtitle">Магазин</span> UNIQ',
        rated: false,
      },
      {
        id: 'item-all-4',
        extraClass: 'publication-item--grey',
        img: 'item-publication.jpg',
        title: 'Костюм классический UNIQ',
        price: '10 000',
        currency: '₽',
        descr: '<span class="add-publication__content-results-list-item-subtitle">Товар с другого сайта</span>',
        rated: 'select',
      },
    ]
  -
    var publicationBoughtItems = [
      {
        id: 'item-bought-1',
        extraClass: 'publication-item--dark',
        img: 'item-publication.jpg',
        title: 'Костюм классический UNIQ',
        price: '10 000',
        currency: '₽',
        descr: '<span class="add-publication__content-results-list-item-subtitle">Магазин</span> UNIQ',
        rated: true,
        ratingValue: 4,
      },
      {
        id: 'item-bought-2',
        extraClass: 'publication-item--green',
        img: 'item-publication.jpg',
        title: 'Костюм классический UNIQ',
        price: '10 000',
        currency: '₽',
        descr: '<span class="add-publication__content-results-list-item-bought">Этот товар вы купили <svg><use xlink:href="./img/icons/icons.svg#check"></use></svg></span>',
        rated: false,
      },
      {
        id: 'item-bought-3',
        extraClass: 'publication-item--dark',
        img: 'item-publication.jpg',
        title: 'Костюм классический UNIQ',
        price: '10 000',
        currency: '₽',
        descr: '<span class="add-publication__content-results-list-item-subtitle">Магазин</span> UNIQ',
        rated: false,
      },
      {
        id: 'item-bought-4',
        extraClass: 'publication-item--grey',
        img: 'item-publication.jpg',
        title: 'Костюм классический UNIQ',
        price: '10 000',
        currency: '₽',
        descr: '<span class="add-publication__content-results-list-item-subtitle">Товар с другого сайта</span>',
        rated: 'select',
      },
      {
        id: 'item-bought-5',
        extraClass: 'publication-item--dark',
        img: 'item-publication.jpg',
        title: 'Костюм классический UNIQ',
        price: '10 000',
        currency: '₽',
        descr: '<span class="add-publication__content-results-list-item-subtitle">Магазин</span> UNIQ',
        rated: false,
      },
      {
        id: 'item-bought-6',
        extraClass: 'publication-item--grey',
        img: 'item-publication.jpg',
        title: 'Костюм классический UNIQ',
        price: '10 000',
        currency: '₽',
        descr: '<span class="add-publication__content-results-list-item-subtitle">Товар с другого сайта</span>',
        rated: 'select',
      },
    ]
  -
    var publicationUserItems = [
      {
        id: 'item-user-1',
        extraClass: 'publication-item--green',
        img: 'item-publication.jpg',
        title: 'Костюм классический UNIQ',
        price: '10 000',
        currency: '₽',
        descr: '<span class="add-publication__content-results-list-item-bought">Этот товар вы купили <svg><use xlink:href="./img/icons/icons.svg#check"></use></svg></span>',
        rated: true,
        ratingValue: 4,
      },
      {
        id: 'item-user-2',
        extraClass: 'publication-item--green',
        img: 'item-publication.jpg',
        title: 'Костюм классический UNIQ',
        price: '10 000',
        currency: '₽',
        descr: '<span class="add-publication__content-results-list-item-bought">Этот товар вы купили <svg><use xlink:href="./img/icons/icons.svg#check"></use></svg></span>',
        rated: false,
      },
      {
        id: 'item-user-3',
        extraClass: 'publication-item--green',
        img: 'item-publication.jpg',
        title: 'Костюм классический UNIQ',
        price: '10 000',
        currency: '₽',
        descr: '<span class="add-publication__content-results-list-item-bought">Этот товар вы купили <svg><use xlink:href="./img/icons/icons.svg#check"></use></svg></span>',
        rated: false,
      },
      {
        id: 'item-user-4',
        extraClass: 'publication-item--green',
        img: 'item-publication.jpg',
        title: 'Костюм классический UNIQ',
        price: '10 000',
        currency: '₽',
        descr: '<span class="add-publication__content-results-list-item-bought">Этот товар вы купили <svg><use xlink:href="./img/icons/icons.svg#check"></use></svg></span>',
        rated: 'select',
      },
      {
        id: 'item-user-5',
        extraClass: 'publication-item--green',
        img: 'item-publication.jpg',
        title: 'Костюм классический UNIQ',
        price: '10 000',
        currency: '₽',
        descr: '<span class="add-publication__content-results-list-item-bought">Этот товар вы купили <svg><use xlink:href="./img/icons/icons.svg#check"></use></svg></span>',
        rated: false,
      },
    ]

.add-publication
  .add-publication__inner

    // Блок 1 шага (Выбор товара)
    .add-publication__step-content.add-publication__choose-goods.active
      .add-publication__tabs.tabs.tabs--split
        .add-publication__tabs-wrapper.tabs-head.tabs__head
          .swiper.add-publication__swiper
            .tabs__list.swiper-wrapper
              button.swiper-slide.tabs__tab(data-tab-path="sp") Товары из СП
              button.swiper-slide.tabs__tab.tabs__tab--active(data-tab-path="all") Все товары
              button.swiper-slide.tabs__tab(data-tab-path="bought") Купленные вами
              button.swiper-slide.tabs__tab(data-tab-path="user") Пользовательские
          button.swiper-button-prev
            svg
              use(xlink:href="./img/icons/icons.svg#arrow")
          button.swiper-button-next
            svg
              use(xlink:href="./img/icons/icons.svg#arrow")

      .add-publication__contents.tabs__contents
        h4.add-publication__contents-title Выберите товары

        // Блок с контентом вкладки "Товары из СП"
        .add-publication__content.add-publication__actions-sp.tabs__content(data-tab-target="sp")
          .add-publication__content-filters.filter-actions.filter-actions--sp
            .add-publication__content-filters-input
              +autocomplete({
                id: "search-sp",
                name: "search-sp",
                placeholder: "Название товара",
                prefix: '<svg><use xlink:href="./img/icons/icons.svg#search"></use></svg>',
                suffix: "",
                tag: '',
                extraClass: "",
                inputExtraClass: "autocomplete__input input-text--color-grey",
                options: '',
              })

            button.add-publication__content-filters-sort.filter-actions__sorts.btn.btn--outlined.btn--color-grey
              .filter-actions__text Сортировка
              svg.filter-actions__icon.filter-actions__icon--common
                use(xlink:href="./img/icons/icons.svg#sorts")
              svg.filter-actions__icon.filter-actions__icon--cross
                use(xlink:href="./img/icons/icons.svg#cross")

            button.add-publication__content-filters-categories.filter-actions__categories.add-publication__actions-categories-sp.btn.btn--outlined.btn--color-grey
              .filter-actions__text Категории
              .filter-actions__icon
                svg.filter-actions__icon.filter-actions__icon--common
                  use(xlink:href="./img/icons/icons.svg#categories")
                svg.filter-actions__icon.filter-actions__icon--cross
                  use(xlink:href="./img/icons/icons.svg#cross")
              .add-publication__actions-filters-count.filter-actions__filters-count

          form.add-publication__form-sp.form-filters
            .sorting
              .sorting__title
                | Сортировка
                .sorting__cross
                  svg
                    use(xlink:href="./img/icons/icons.svg#cross")

              each option in sortingOptions
                .sorting__btn(class=`sorting__btn--${option.value}`)
                  +radio({
                    name: "sorting",
                    value: option.value,
                    text: `<span class='btn btn--color-white'><span class='sorting__btn-text'>${option.text}</span><svg class='sorting__btn-icon'><use xlink:href='./img/icons/icons.svg#${option.icon}'></use></svg></span>`,
                    extraClass: "radio--btn"
                  })

            .add-publication__form-chips.form-filters__chips

            .add-publication__form-filter.filters
              .filters__title
                | Фильтры
                .add-publication__form-filter-cross.filters__title-cross
                  svg
                    use(xlink:href="./img/icons/icons.svg#cross")

              .div.add-publication__form-filter-filters.filters__items.filters--sp
                each collapseData in collapses
                  .filters__item
                    +collapse({
                      title: collapseData.title,
                      isClosed: false,
                      icon: "collapse",
                    })
                      .filters__collapse.filters__collapse-wrap
                        each checkboxData in collapseData.checkboxes
                          +checkbox({
                            name: checkboxData.name,
                            text: checkboxData.text,
                            mod: "checkbox--tag",
                            classes: "btn btn--tag btn--small",
                          })

              .add-publication__form-filter-actions.filters__actions.form__btns
                button.btn.btn--text.add-publication__form-filter-clear.filters__clear(type="button", data-popup="clearFilter")
                  svg.add-publication__form-filter-actions-clear.filters__actions-clear
                    use(xlink:href="./img/icons/icons.svg#trash")
                  span.add-publication__form-filter-actions-text.filters__actions-text Очистить все фильтры
                button.btn.add-publication__form-filter-submit(type="submit")
                  | Применить
                  span.btn__suffix

          .add-publication__content-results
            .add-publication__content-results-title Результаты поиска

            .add-publication__content-results-status
              .add-publication__content-results-status-text.active.add-publication__content-results-status-load
                | Ищем товары по запросу...
              .add-publication__content-results-status-text.active.add-publication__content-results-status-empty
                | По вашему запросу ничего не найдено :|
              .add-publication__content-results-status-text.active.add-publication__content-results-status-error
                p Кажется, в работе поиска произошел какой-то сбой :(
                | Мы уже знаем об этой проблеме и занимаемся ее решением. Пожалуйста, вернитесь чуть позже.

            ul.add-publication__content-results-list

            p.add-publication__content-empty-text
              | Сейчас здесь ничего нет. Но, как только вы начнете вводить название товара в поле выше, -
              | появятся товары, соответствующие запросу :)

        // Блок с контентом вкладки "Все товары"
        .add-publication__content.add-publication__content--has-items.add-publication__actions-all.tabs__content.tabs__content--active(data-tab-target="all")
          .add-publication__content-filters.filter-actions.filter-actions--all
            .add-publication__content-filters-input
              +autocomplete({
                id: "search-all",
                name: "search-all",
                placeholder: "Название товара",
                prefix: '<svg><use xlink:href="./img/icons/icons.svg#search"></use></svg>',
                suffix: "",
                tag: '',
                extraClass: "",
                inputExtraClass: "autocomplete__input input-text--color-grey",
                options: '',
              })

            button.add-publication__content-filters-sort.filter-actions__sorts.btn.btn--outlined.btn--color-grey
              .filter-actions__text Сортировка
              svg.filter-actions__icon.filter-actions__icon--common
                use(xlink:href="./img/icons/icons.svg#sorts")
              svg.filter-actions__icon.filter-actions__icon--cross
                use(xlink:href="./img/icons/icons.svg#cross")

            button.add-publication__content-filters-categories.filter-actions__categories.add-publication__actions-categories-all.btn.btn--outlined.btn--color-grey
              .filter-actions__text Категории
              .filter-actions__icon
                svg.filter-actions__icon.filter-actions__icon--common
                  use(xlink:href="./img/icons/icons.svg#categories")
                svg.filter-actions__icon.filter-actions__icon--cross
                  use(xlink:href="./img/icons/icons.svg#cross")
              .add-publication__actions-filters-count.filter-actions__filters-count

          form.add-publication__form-all.form-filters
            .sorting
              .sorting__title
                | Сортировка
                .sorting__cross
                  svg
                    use(xlink:href="./img/icons/icons.svg#cross")

              each option in sortingOptions
                .sorting__btn(class=`sorting__btn--${option.value}`)
                  +radio({
                    name: "sorting",
                    value: option.value,
                    text: `<span class='btn btn--color-white'><span class='sorting__btn-text'>${option.text}</span><svg class='sorting__btn-icon'><use xlink:href='./img/icons/icons.svg#${option.icon}'></use></svg></span>`,
                    extraClass: "radio--btn"
                  })

            .add-publication__form-chips.form-filters__chips

            .add-publication__form-filter.filters
              .filters__title
                | Фильтры
                .add-publication__form-filter-cross.filters__title-cross
                  svg
                    use(xlink:href="./img/icons/icons.svg#cross")

              .div.add-publication__form-filter-filters.filters__items.filters--sp
                each collapseData in collapses
                  .filters__item
                    +collapse({
                      title: collapseData.title,
                      isClosed: false,
                      icon: "collapse",
                    })
                      .filters__collapse.filters__collapse-wrap
                        each checkboxData in collapseData.checkboxes
                          +checkbox({
                            name: checkboxData.name,
                            text: checkboxData.text,
                            mod: "checkbox--tag",
                            classes: "btn btn--tag btn--small",
                          })

              .add-publication__form-filter-actions.filters__actions.form__btns
                button.btn.btn--text.add-publication__form-filter-clear.filters__clear(type="button", data-popup="clearFilter")
                  svg.add-publication__form-filter-actions-clear.filters__actions-clear
                    use(xlink:href="./img/icons/icons.svg#trash")
                  span.add-publication__form-filter-actions-text.filters__actions-text Очистить все фильтры
                button.btn.add-publication__form-filter-submit(type="submit")
                  | Применить
                  span.btn__suffix

          .add-publication__content-results
            .add-publication__content-results-title Результаты поиска

            .add-publication__content-results-status
              .add-publication__content-results-status-text.add-publication__content-results-status-load
                | Ищем товары по запросу...
              .add-publication__content-results-status-text.add-publication__content-results-status-empty
                | По вашему запросу ничего не найдено :|
              .add-publication__content-results-status-text.add-publication__content-results-status-error
                p Кажется, в работе поиска произошел какой-то сбой :(
                | Мы уже знаем об этой проблеме и занимаемся ее решением. Пожалуйста, вернитесь чуть позже.

            ul.add-publication__content-results-list
              each item in publicationAllItems
                li.add-publication__content-results-list-item(data-id=item.id)
                  +publicationItem({
                    extraClass: item.extraClass,
                    img: item.img,
                    title: item.title,
                    price: item.price,
                    currency: item.currency,
                    descr: item.descr
                  })
                  
                  //- Если у товара есть рейтинг
                  if item.rated === true
                    .add-publication__content-results-list-item-rating
                      .add-publication__content-results-list-item-rating-text Вы оценили этот товар
                      .add-publication__content-results-list-item-rating-rate
                        +rating({ value: item.ratingValue })
                  else if item.rated === 'select'
                    .add-publication__content-results-list-item-rating
                      .add-publication__content-results-list-item-rating-text Оцените купленный товар
                      .add-publication__content-results-list-item-rating-rate
                        +rating({ extraClass: 'rating--select', name: item.id })
                  
                  //- Кнопка удаления
                  button.add-publication__content-results-list-item-clear.btn
                    svg
                      use(xlink:href="./img/icons/icons.svg#cross")

            p.add-publication__content-empty-text.hide
              | Сейчас здесь ничего нет. Но, как только вы начнете вводить название товара в поле выше, -
              | появятся товары, соответствующие запросу :)

        // Блок с контентом вкладки "Купленные вами"
        .add-publication__content.add-publication__content--has-items.add-publication__actions-bought.tabs__content(data-tab-target="bought")
          .add-publication__content-filters.filter-actions.filter-actions--bought
            .add-publication__content-filters-input
              +autocomplete({
                id: "search-bought",
                name: "search-bought",
                placeholder: "Название товара",
                prefix: '<svg><use xlink:href="./img/icons/icons.svg#search"></use></svg>',
                suffix: "",
                tag: '',
                extraClass: "",
                inputExtraClass: "autocomplete__input input-text--color-grey",
                options: '',
              })

            button.add-publication__content-filters-sort.filter-actions__sorts.btn.btn--outlined.btn--color-grey
              .filter-actions__text Сортировка
              svg.filter-actions__icon.filter-actions__icon--common
                use(xlink:href="./img/icons/icons.svg#sorts")
              svg.filter-actions__icon.filter-actions__icon--cross
                use(xlink:href="./img/icons/icons.svg#cross")

            button.add-publication__content-filters-categories.filter-actions__categories.add-publication__actions-categories-all.btn.btn--outlined.btn--color-grey
              .filter-actions__text Категории
              .filter-actions__icon
                svg.filter-actions__icon.filter-actions__icon--common
                  use(xlink:href="./img/icons/icons.svg#categories")
                svg.filter-actions__icon.filter-actions__icon--cross
                  use(xlink:href="./img/icons/icons.svg#cross")
              .add-publication__actions-filters-count.filter-actions__filters-count

          form.add-publication__form-bought.form-filters
            .sorting
              .sorting__title
                | Сортировка
                .sorting__cross
                  svg
                    use(xlink:href="./img/icons/icons.svg#cross")

              each option in sortingOptions
                .sorting__btn(class=`sorting__btn--${option.value}`)
                  +radio({
                    name: "sorting",
                    value: option.value,
                    text: `<span class='btn btn--color-white'><span class='sorting__btn-text'>${option.text}</span><svg class='sorting__btn-icon'><use xlink:href='./img/icons/icons.svg#${option.icon}'></use></svg></span>`,
                    extraClass: "radio--btn"
                  })

            .add-publication__form-chips.form-filters__chips

            .add-publication__form-filter.filters
              .filters__title
                | Фильтры
                .add-publication__form-filter-cross.filters__title-cross
                  svg
                    use(xlink:href="./img/icons/icons.svg#cross")

              .div.add-publication__form-filter-filters.filters__items.filters--sp
                each collapseData in collapses
                  .filters__item
                    +collapse({
                      title: collapseData.title,
                      isClosed: false,
                      icon: "collapse",
                    })
                      .filters__collapse.filters__collapse-wrap
                        each checkboxData in collapseData.checkboxes
                          +checkbox({
                            name: checkboxData.name,
                            text: checkboxData.text,
                            mod: "checkbox--tag",
                            classes: "btn btn--tag btn--small",
                          })

              .add-publication__form-filter-actions.filters__actions.form__btns
                button.btn.btn--text.add-publication__form-filter-clear.filters__clear(type="button", data-popup="clearFilter")
                  svg.add-publication__form-filter-actions-clear.filters__actions-clear
                    use(xlink:href="./img/icons/icons.svg#trash")
                  span.add-publication__form-filter-actions-text.filters__actions-text Очистить все фильтры
                button.btn.add-publication__form-filter-submit(type="submit")
                  | Применить
                  span.btn__suffix

          .add-publication__content-results
            .add-publication__content-results-title Результаты поиска

            .add-publication__content-results-status
              .add-publication__content-results-status-text.add-publication__content-results-status-load
                | Ищем товары по запросу...
              .add-publication__content-results-status-text.add-publication__content-results-status-empty
                | По вашему запросу ничего не найдено :|
              .add-publication__content-results-status-text.add-publication__content-results-status-error
                p Кажется, в работе поиска произошел какой-то сбой :(
                | Мы уже знаем об этой проблеме и занимаемся ее решением. Пожалуйста, вернитесь чуть позже.

            ul.add-publication__content-results-list
              each item in publicationBoughtItems
                li.add-publication__content-results-list-item(data-id=item.id)
                  //- Подключение блока товара
                  +publicationItem({
                    extraClass: item.extraClass,
                    img: item.img,
                    title: item.title,
                    price: item.price,
                    currency: item.currency,
                    descr: item.descr
                  })
                  
                  //- Если у товара есть рейтинг
                  if item.rated === true
                    .add-publication__content-results-list-item-rating
                      .add-publication__content-results-list-item-rating-text Вы оценили этот товар
                      .add-publication__content-results-list-item-rating-rate
                        +rating({ value: item.ratingValue })
                  else if item.rated === 'select'
                    .add-publication__content-results-list-item-rating
                      .add-publication__content-results-list-item-rating-text Оцените купленный товар
                      .add-publication__content-results-list-item-rating-rate
                        +rating({ extraClass: 'rating--select', name: item.id })
                  
                  //- Кнопка удаления
                  button.add-publication__content-results-list-item-clear.btn
                    svg
                      use(xlink:href="./img/icons/icons.svg#cross")

            p.add-publication__content-empty-text.hide
              | Сейчас здесь ничего нет. Но, как только вы начнете вводить название товара в поле выше, -
              | появятся товары, соответствующие запросу :)

        // Блок с контентом вкладки "Пользовательские"
        .add-publication__content.add-publication__content--has-items.add-publication__actions-user.tabs__content(data-tab-target="user")
          .add-publication__content-filters.filter-actions.filter-actions--user
            .add-publication__content-filters-input
              +autocomplete({
                id: "search-user",
                name: "search-user",
                placeholder: "Название товара",
                prefix: '<svg><use xlink:href="./img/icons/icons.svg#search"></use></svg>',
                suffix: "",
                tag: '',
                extraClass: "",
                inputExtraClass: "autocomplete__input input-text--color-grey",
                options: '',
              })

            button.add-publication__content-filters-sort.filter-actions__sorts.btn.btn--outlined.btn--color-grey
              .filter-actions__text Сортировка
              svg.filter-actions__icon.filter-actions__icon--common
                use(xlink:href="./img/icons/icons.svg#sorts")
              svg.filter-actions__icon.filter-actions__icon--cross
                use(xlink:href="./img/icons/icons.svg#cross")

            button.add-publication__content-filters-categories.filter-actions__categories.add-publication__actions-categories-all.btn.btn--outlined.btn--color-grey
              .filter-actions__text Категории
              .filter-actions__icon
                svg.filter-actions__icon.filter-actions__icon--common
                  use(xlink:href="./img/icons/icons.svg#categories")
                svg.filter-actions__icon.filter-actions__icon--cross
                  use(xlink:href="./img/icons/icons.svg#cross")
              .add-publication__actions-filters-count.filter-actions__filters-count

          form.add-publication__form-user.form-filters
            .sorting
              .sorting__title
                | Сортировка
                .sorting__cross
                  svg
                    use(xlink:href="./img/icons/icons.svg#cross")

              each option in sortingOptions
                .sorting__btn(class=`sorting__btn--${option.value}`)
                  +radio({
                    name: "sorting",
                    value: option.value,
                    text: `<span class='btn btn--color-white'><span class='sorting__btn-text'>${option.text}</span><svg class='sorting__btn-icon'><use xlink:href='./img/icons/icons.svg#${option.icon}'></use></svg></span>`,
                    extraClass: "radio--btn"
                  })

            .add-publication__form-chips.form-filters__chips

            .add-publication__form-filter.filters
              .filters__title
                | Фильтры
                .add-publication__form-filter-cross.filters__title-cross
                  svg
                    use(xlink:href="./img/icons/icons.svg#cross")

              .div.add-publication__form-filter-filters.filters__items.filters--sp
                each collapseData in collapses
                  .filters__item
                    +collapse({
                      title: collapseData.title,
                      isClosed: false,
                      icon: "collapse",
                    })
                      .filters__collapse.filters__collapse-wrap
                        each checkboxData in collapseData.checkboxes
                          +checkbox({
                            name: checkboxData.name,
                            text: checkboxData.text,
                            mod: "checkbox--tag",
                            classes: "btn btn--tag btn--small",
                          })

              .add-publication__form-filter-actions.filters__actions.form__btns
                button.btn.btn--text.add-publication__form-filter-clear.filters__clear(type="button", data-popup="clearFilter")
                  svg.add-publication__form-filter-actions-clear.filters__actions-clear
                    use(xlink:href="./img/icons/icons.svg#trash")
                  span.add-publication__form-filter-actions-text.filters__actions-text Очистить все фильтры
                button.btn.add-publication__form-filter-submit(type="submit")
                  | Применить
                  span.btn__suffix

          .add-publication__content-results
            .add-publication__content-results-title Результаты поиска

            .add-publication__content-results-status
              .add-publication__content-results-status-text.add-publication__content-results-status-load
                | Ищем товары по запросу...
              .add-publication__content-results-status-text.add-publication__content-results-status-empty
                | По вашему запросу ничего не найдено :|
              .add-publication__content-results-status-text.add-publication__content-results-status-error
                p Кажется, в работе поиска произошел какой-то сбой :(
                | Мы уже знаем об этой проблеме и занимаемся ее решением. Пожалуйста, вернитесь чуть позже.

            ul.add-publication__content-results-list
              each item in publicationUserItems
                li.add-publication__content-results-list-item(data-id=item.id)
                  //- Подключение блока товара
                  +publicationItem({
                    extraClass: item.extraClass,
                    img: item.img,
                    title: item.title,
                    price: item.price,
                    currency: item.currency,
                    descr: item.descr
                  })
                  
                  //- Если у товара есть рейтинг
                  if item.rated === true
                    .add-publication__content-results-list-item-rating
                      .add-publication__content-results-list-item-rating-text Вы оценили этот товар
                      .add-publication__content-results-list-item-rating-rate
                        +rating({ value: item.ratingValue })
                  else if item.rated === 'select'
                    .add-publication__content-results-list-item-rating
                      .add-publication__content-results-list-item-rating-text Оцените купленный товар
                      .add-publication__content-results-list-item-rating-rate
                        +rating({ extraClass: 'rating--select', name: item.id })
                  
                  //- Кнопка удаления
                  button.add-publication__content-results-list-item-clear.btn
                    svg
                      use(xlink:href="./img/icons/icons.svg#cross")

            p.add-publication__content-empty-text.hide
              | Сейчас здесь ничего нет. Но, как только вы начнете вводить название товара в поле выше, -
              | появятся товары, соответствующие запросу :)

      +popup({
        extraClass: "add-publication__selected popup--no-overlay",
        id: "selected-goods",
        title: "",
        media: 'data-media="1200"',
      })
        include ./add-publication-selected.pug

      +popup({
        extraClass: "add-publication__from-site-popup popup--no-overlay",
        id: "popup-from-site",
        title: "Добавить товар с другого сайта",
      })
        include ./add-goods-from-site.pug

      +popup({
        extraClass: "add-publication__from-site-confirm-popup",
        id: "popup-confirm-from-site",
        title: "",
      })
        include ./confirm-add-goods.pug

    // Блок 2 шага (Наполнение)
    form.add-publication__step-content.add-publication__filling
      .add-publication__filling-selected.collapse.collapse--arrow
        .collapse__head
          span.collapse__head-title.add-publication__filling-selected-title
            | Выбранные товары (
            span.add-publication__filling-selected-count
            | )
            span.add-publication__filling-selected-toggle(data-text="Развернуть")
              | Свернуть
          svg.collapse__head-icon
            use(xlink:href="./img/icons/icons.svg#arrow")
        ul.add-publication__filling-selected-content.collapse__content

      .add-publication__filling-field-title
        | Придумайте заголовок
      .add-publication__filling-field-wrapper
        +inputText({
          name: "title-goods",
          type: "text",
          placeholder: "Заголовок образа",
          prefix: "",
          suffix: "",
          extraClass: "input-text--color-grey",
          extraClassPrefix: "",
          extraClassSuffix: "",
        })

      .add-publication__filling-field-title Что стоит отметить в образе?
      .add-publication__filling-field-wrapper
        +textarea({
          "name": "description",
          "placeholder": "Например, расскажите о концепции образа или сочетании цветов",
          "extraClass": "add-publication__filling-field-description textarea__input--grey"
        })

      .add-publication__filling-field-media
        .add-publication__filling-field-media-img-wrapper
          .add-publication__filling-field-title Добавьте фотографии
          .add-publication__filling-field-wrapper.add-publication__filling-field-upload
            +inputText({
              name: "add-picture",
              type: "file",
              placeholder: "",
              prefix: "<svg><use xlink:href='./img/icons/icons.svg#plus'></use></svg>",
              suffix: "<div class='add-publication__filling-field-upload-popup'><svg><use xlink:href='./img/icons/icons.svg#upload-img'></use></svg><div class='add-publication__filling-field-upload-popup-text'>Перетащите в это окно изображения в формате PNG или JPG, которые хотите добавить к публикации. Общее количество изображений не должно превышать 8 шт., а размер каждого не должен быть больше 5 МБ.</div></div>",
              extraClass: "input-text--color-grey input-text--upload add-publication__filling-field-upload-input",
              extraClassPrefix: "",
              extraClassSuffix: "",
              multiple: true,
            })

            p.add-publication__filling-field-upload-descr
              | До 8 изображений в формате PNG или JPG. Можно просто перетащить их в это окно

            .add-publication__filling-field-upload-files

            p.add-publication__filling-field-upload-info
              | Вы можете изменить порядок показа фотографий перетаскиванием. Чтобы посмотреть на фото в увеличенном масштабе, просто кликните на нее

            button.add-publication__filling-field-upload-settings.btn.btn--none(type="button", data-popup="cropper")
              | Настроить область показа миниатюр

        .add-publication__filling-field-media-video-wrapper
          .add-publication__filling-field-title Есть видео? Вставьте ссылку
          .add-publication__filling-field-wrapper
            +inputText({
              name: "media-link",
              type: "text",
              placeholder: "Вставьте ссылку на нужное видео в это поле",
              prefix: "",
              suffix: "",
              extraClass: "input-text--color-grey",
              extraClassPrefix: "",
              extraClassSuffix: "",
            })

      .add-publication__filling-field-title Прикрепите теги
        .add-publication__filling-field-wrapper
          +textarea({
            "name": "tags",
            "placeholder": "Поле тегов",
            "extraClass": "add-publication__filling-field-tags textarea__input--grey"
          })

      +popup({
        extraClass: "add-publication__filling-cropper popup--no-overlay",
        id: "cropper",
        title: "Выберите область показа фото"
      })
        include ./cropper-publication.pug

      button.add-publication__filling-submit(type="submit" hidden)

    // Блок 3 шага (Предпросмотр)
    .add-publication__step-content.add-publication__preview
      .add-publication__preview-title
        | Так будет выглядеть ваша публикация. Если вы все же решили что-то изменить - нажмите на кнопку “Назад”.
        div А если все нравится - “Опубликовать”.

      .add-publication__preview-content
        .publication
          .publication__author
            .publication__author-avatar
              img(src="@img/logo-user-sm.jpg")
            .publication__author-name Олеся Смирнова

          .publication__title

          .publication__actions
            button
              svg.publication__actions-share
                use(xlink:href="./img/icons/icons.svg#share")
            button
              svg.publication__actions-favourite
                use(xlink:href="./img/icons/icons.svg#heart")

          .publication__set
            .publication__set-items.publication__set-items-left

            .publication__swiper
              .swiper.swiper-add-publication
                .swiper-wrapper
              button.swiper-button-prev
                svg
                  use(xlink:href="./img/icons/icons.svg#arrow")
              button.swiper-button-next
                svg
                  use(xlink:href="./img/icons/icons.svg#arrow")
              .swiper-pagination
            .publication__set-items.publication__set-items-right

          .publication__goods
            .gallery-card

            .publication__goods-count
              span.publication__goods-count-number
              | товаров

            button.btn.btn--none.publication__goods-btn-popup(data-popup="publication-items") Посмотреть

          .publication__descr

          .publication__price
            | Общая стоимость образа: 
            span.publication__price-count
            |  ₽

          ul.publication__hashtags

          .publication__subscribe
            .publication__subscribe-top
              .publication__subscribe-line
              .publication__subscribe-avatar
                img(src="@img/logo-user-sm.jpg")
              .publication__subscribe-line

            .publication__subscribe-name Олеся Смирнова

            .publication__subscribe-activity
              | Персональный стилист / Актриса / Блогер

            .publication__subscribe-btn
              button.btn(disabled) Подписаться

    +popup({
        extraClass: "add-publication__created-popup",
        id: "popup-created",
        title: "",
    })
      include ./created-publication.pug

    // Блок с кнопками управления шагами (назад вперед, ...)
    .add-publication__actions.add-publication__actions--first-step
      button.add-publication__actions-site.btn.btn--text.btn--color-grey.active(data-popup="popup-from-site")
        | Добавить товар с другого сайта
      
      button.add-publication__actions-prev.btn.btn--color-primary-light
        | Назад
      
      button.add-publication__actions-preview.btn.btn--outlined
        .add-publication__actions-preview-wrapper
          .add-publication__actions-preview-choose Вы выбрали
          .add-publication__actions-preview-goods
            span.add-publication__actions-preview-goods-gallery.gallery-card
            span.add-publication__actions-preview-goods-count
            span товара
        .add-publication__actions-preview-action(data-text="Cвернуть")
          | Посмотреть
      
      button.add-publication__actions-next.active.btn.btn--disabled(disabled)
        | Далее
      
      button.add-publication__actions-publication.hide.btn.btn--loading
        | Опубликовать
        svg
          use(xlink:href="./img/icons/icons.svg#loading")

