//- extends ../layout/baseLayout.pug

//- - var title = 'Ui Kit'
//- - var nameFile = 'ui-kit'


//- block content
//-   main.ui-kit
//-     a.ui-kit__home(href="/index.html") &lt; Главная

//-     h1 UI KIT

//-     h2 Breadcrumbs:
//-     .ui-kit__block.ui-kit__breadcrumbs
//-       include ../components/breadcrumbs.pug, { title: "Категории:" }
    
//-     .ui-kit__block.ui-kit__breadcrumbs
//-       include ../components/breadcrumbs.pug, { extraClass: "breadcrumbs--primary", title: "" }

//-     h2 Buttons:
//-     .ui-kit__block.ui-kit__buttons
//-       button.btn Standart
//-       button.btn.btn--color-primary-light primary light
//-       button.btn.btn--color-primary-light-text-black primary light text black
//-       button.btn
//-         | Count
//-         span.btn__suffix (7)
//-       button.btn.btn--text Text
//-       button.btn.btn--none Text padding height 0
//-       button.btn.btn--color-green Color green
//-       button.btn.btn--text.btn--color-grey Text grey
//-       button.btn.btn--small Small
//-       button.btn.btn--outlined Outlined
//-       button.btn.btn--tag Tag
//-       button.btn.btn--tag.btn--tag-checked Tag checked
//-       button.btn.btn--green Green
//-       button.btn.btn--outlined.btn--color-grey
//-         | Outlined grey with icons
//-         svg
//-           use(xlink:href="./img/icons/icons.svg#filters")
//-       button.btn(disabled) Disabled
//-       button.btn.btn--dashed Dashed
//-       button.btn.btn--loading.active
//-         | Loading active
//-         svg
//-           use(xlink:href="./img/icons/icons.svg#loading")
//-       button.btn.btn--loading(disabled)
//-         | Loading disabled
//-         svg
//-           use(xlink:href="./img/icons/icons.svg#loading")

//-     .ui-kit__block.ui-kit__block--primary.ui-kit__buttons
//-       button.btn.btn--color-white
//-         | color white
//-         svg
//-           use(xlink:href="./img/icons/icons.svg#filters")


//-     h2 Input:
//-     .ui-kit__block.ui-kit__input
//-       include ../components/input-text.pug, {
//-         name: "input1",
//-         type: "text",
//-         placeholder: "Простой инпут",
//-         prefix: "",
//-         suffix: "",
//-         "extra-class": "",
//-         "extra-class-prefix": "",
//-         "extra-class-suffix": ""
//-       }

//-     .ui-kit__block.ui-kit__input
//-       include ../components/input-text.pug, {
//-         name: "input2",
//-         type: "text",
//-         placeholder: "Инпут с элементом слева",
//-         prefix: '<svg><use xlink:href="./img/icons/icons.svg#search"></use></svg>',
//-         suffix: "",
//-         "extra-class": "",
//-         "extra-class-prefix": "",
//-         "extra-class-suffix": ""
//-       }

//-     .ui-kit__block.ui-kit__input
//-       include ../components/input-text.pug, {
//-         name: "input3",
//-         type: "text",
//-         placeholder: "Инпут с элементом слева и справа",
//-         prefix: '<svg><use xlink:href="./img/icons/icons.svg#search"></use></svg>',
//-         suffix: '<svg><use xlink:href="./img/icons/icons.svg#checkbox"></use></svg>',
//-         "extra-class": "",
//-         "extra-class-prefix": "",
//-         "extra-class-suffix": ""
//-       }

//-     .ui-kit__block.ui-kit__input
//-       include ../components/input-text.pug, {
//-         name: "input4",
//-         type: "text",
//-         placeholder: "Инпут меньшего размера",
//-         prefix: '<svg><use xlink:href="./img/icons/icons.svg#search"></use></svg>',
//-         suffix: '<svg><use xlink:href="./img/icons/icons.svg#checkbox"></use></svg>',
//-         "extra-class": "input-text--small",
//-         "extra-class-prefix": "",
//-         "extra-class-suffix": ""
//-       }

//-     .ui-kit__block.ui-kit__input
//-       include ../components/input-text.pug, {
//-         name: "input5",
//-         type: "password",
//-         placeholder: "Пароль с серой рамкой",
//-         prefix: "",
//-         suffix: "",
//-         "extra-class": "input-text--color-grey",
//-         "extra-class-prefix": "",
//-         "extra-class-suffix": ""
//-       }

//-     .ui-kit__block.ui-kit__input
//-       include ../components/input-text.pug, {
//-         name: "input6",
//-         type: "text",
//-         placeholder: "Задизейбленный инпут",
//-         prefix: "",
//-         suffix: "",
//-         "extra-class": "input-text--color-grey input-text--disabled",
//-         "extra-class-prefix": "",
//-         "extra-class-suffix": "",
//-         atr: "disabled"
//-       }  
    
//-     h4 Input type file upload
//-     .ui-kit__block.ui-kit__input
//-       include ../components/input-text.pug, {
//-         name: "input7",
//-         type: "file",
//-         placeholder: "",
//-         prefix: '<svg><use xlink:href="./img/icons/icons.svg#plus"></use></svg>',
//-         suffix: "",
//-         "extra-class": "input-text--upload",
//-         "extra-class-prefix": "",
//-         "extra-class-suffix": "",
//-         atr: ""
//-       }

//-     h4 Input type file upload (disabled)
//-     .ui-kit__block.ui-kit__input
//-       include ../components/input-text.pug, {
//-         name: "input8",
//-         type: "file",
//-         placeholder: "",
//-         prefix: '<svg><use xlink:href="./img/icons/icons.svg#plus"></use></svg>',
//-         suffix: "",
//-         "extra-class": "input-text--upload input-text--disabled",
//-         "extra-class-prefix": "",
//-         "extra-class-suffix": "",
//-         atr: "disabled"
//-       }

//-     h2 TextArea:
//-       include ../components/textarea.pug, {
//-         name: "textarea",
//-         placeholder: "Введите текст"
//-       }

//-     h2 TextArea с серой рамкой:
//-       include ../components/textarea.pug, {
//-         name: "textarea-grey",
//-         placeholder: "Введите текст",
//-         "extra-class": "textarea__input--grey"
//-       }

//-     h2 Search:
//-     .ui-kit__block.ui-kit__search
//-       include ../components/autocomplete.pug, {
//-         id: "search",
//-         name: "search",
//-         placeholder: "Найдите что-нибудь",
//-         "input-extra-class": "autocomplete__input",
//-         prefix: '<svg><use xlink:href="./img/icons/icons.svg#search"></use></svg>',
//-         suffix: 'include("../components/select.pug", { options: "<li class=select__options-item data-value=value1 role=button tabindex=0>Везде</li> <li class=select__options-item data-value=value2 role=button tabindex=0>value 2</li>", "name": "select-search", "initial-value": "value1", "initial-label": "Везде", "extra-class": "select--transparent" })',
//-         "extra-class": "header__nav-search-input autocomplete--img autocomplete--select",
//-         "extra-class-prefix": "",
//-         "extra-class-suffix": "autocomplete__suffix",
//-         tag: "div",
//-         options: '<a href="#" class="autocomplete__options-item" data-value="val1" tabindex="0"><img class="autocomplete__options-item-img" src="@img/avatar.jpg" /><div class="autocomplete__options-item-title">Женское платье Lovely Ran с расклешенными рукавами и круглой</div><div class="autocomplete__options-item-subtitle">Товары с Aliexpress.ru</div></a> <a href="#" class="autocomplete__options-item" data-value="val2" tabindex="0"><img class="autocomplete__options-item-img" src="@img/sp-slide2.jpg" /><div class="autocomplete__options-item-title">Короткое платье из денима с "Gucci Boutique"</div><div class="autocomplete__options-item-subtitle">Gucci</div></a>'
//-       }

//-     h2 Autocomplete:
//-     .ui-kit__block.ui-kit__autocomplete
//-       include ../components/autocomplete.pug, {
//-         id: "ui-autocomplete",
//-         name: "ui-kit-autocomplete",
//-         placeholder: "ui-kit-autocomplete",
//-         prefix: '<svg><use xlink:href="./img/icons/icons.svg#search"></use></svg>',
//-         suffix: "",
//-         "input-extra-class": "autocomplete__input input-text--small input-text--color-grey",
//-         "extra-class-prefix": "",
//-         tag: "",
//-         options: '<li class="autocomplete__options-item" data-value="val1" tabindex="0">label1</li><li class="autocomplete__options-item" data-value="val2" tabindex="0">label2</li><li class="autocomplete__options-item" data-value="val3" tabindex="0">label3</li><li class="autocomplete__options-item" data-value="val4" tabindex="0">label4</li><li class="autocomplete__options-item" data-value="val5" tabindex="0">label5</li><li class="autocomplete__options-item" data-value="val6" tabindex="0">label6</li><li class="autocomplete__options-item" data-value="val7" tabindex="0">label7</li><li class="autocomplete__options-item" data-value="val8" tabindex="0">label8</li><li class="autocomplete__options-item" data-value="val9" tabindex="0">label9</li><li class="autocomplete__options-item" data-value="val10" tabindex="0">label10</li>'
//-       }

//-     .ui-kit__block.ui-kit__autocomplete
//-       include ../components/autocomplete.pug, {
//-         id: "ui-autocomplete-url",
//-         name: "ui-kit-autocomplete-url",
//-         placeholder: "ui-kit-autocomplete-url",
//-         "input-extra-class": "autocomplete__input",
//-         prefix: '<svg><use xlink:href="./img/icons/icons.svg#search"></use></svg>',
//-         suffix: '<div class="autocomplete__load"><svg class="autocomplete__load-icon"><use xlink:href="./img/icons/icons.svg#loading"></use></svg></div>',
//-         tag: "",
//-         options: ""
//-       }


//-     h2 Gallery-card:
//-     .ui-kit__block.ui-kit__gallery-card
//-       .gallery-card
//-         each src, index in ['@img/publication.jpg', '@img/post-card-img-black.png', '@img/publication.jpg', '@img/publication.jpg', '@img/post-card-img-black.png', '@img/publication.jpg', '@img/publication.jpg', '@img/post-card-img-black.png']
//-           .gallery-card__item
//-             img(src=src)
//-         .gallery-card__item
//-           img(src='@img/publication.jpg')
//-           span.gallery-card__item-more +7

//-     h2 Бегущая строка:
//-     .ui-kit__block.ui-kit__ticker
//-       //- file include emulation (можно использовать миксин или pug-include)
//-       include ../components/ticker.pug

//-       //- // если ты передаёшь параметры, то можно так:
//-       //- +ticker({ text: 'Наведи на меня курсором! Длинный текст который не вмещается в блоке.' })

//-     h2 Select:
//-     .ui-kit__block.ui-kit__select
//-       include ../components/select.html
//-         {
//-           "options": '<li class="select__options-item" data-value="Везде" role="button" tabindex="0">Везде</li> <li class="select__options-item" data-value="Везде2" role="button" tabindex="0">Везде2</li> <li class="select__options-item" data-value="Везде3 очень длинный текст" role="button" tabindex="0">Везде3 очень длинный текст</li>',
//-           "name": "user-board-subscriptions",
//-           "initial-value": "Везде",
//-           "initial-label": "Везде"
//-         }

//-       include ../components/select.html
//-         {
//-           "options": '<li class="select__options-item" data-value="Везде" role="button" tabindex="0">Везде</li> <li class="select__options-item" data-value="Везде2" role="button" tabindex="0">Везде2</li> <li class="select__options-item" data-value="Везде3 очень длинный текст" role="button" tabindex="0">Везде3 очень длинный текст</li>',
//-           "name": "user-board-subscriptions",
//-           "initial-value": "Везде",
//-           "initial-label": "Везде",
//-           "extra-class": "select--transparent"
//-         }

//-       include ../components/select.html
//-         {
//-           "options": '<li class="select__options-item" data-value="Везде" role="button" tabindex="0">Везде</li> <li class="select__options-item" data-value="Везде2" role="button" tabindex="0">Везде2</li> <li class="select__options-item" data-value="Везде3 очень длинный текст" role="button" tabindex="0">Везде3 очень длинный текст</li>',
//-           "name": "user-board-subscriptions",
//-           "initial-value": "Везде",
//-           "initial-label": "Везде",
//-           "extra-class": "select--border-grey"
//-         }

//-       .select.noselect
//-         .select__header
//-           .select__title
//-           .select__icon
//-             svg
//-               use(xlink:href="./img/icons/icons.svg#arrow")
//-         ul.select__options
//-           li.select__options-item(data-value="val31") Очень много опций
//-           li.select__options-item(data-value="val32") Очень много опций 2
//-           li.select__options-item(data-value="val33") Очень много опций 3
//-           li.select__options-item(data-value="val34") Очень много опций 4
//-           li.select__options-item(data-value="val35") Очень много опций 5
//-           li.select__options-item(data-value="val36") Очень много опций 6
//-           li.select__options-item(data-value="val37") Очень много опций 7
//-           li.select__options-item(data-value="val38") Очень много опций 8
//-           li.select__options-item(data-value="val39") Очень много опций 9
//-           li.select__options-item(data-value="val40") Очень много опций 10
//-           li.select__options-item(data-value="val41") Очень много опций 11
//-           li.select__options-item(data-value="val42") Очень много опций 12
//-           li.select__options-item(data-value="val43") Очень много опций 13
//-         input(type="text", name="select", value="val31", hidden)

//-     h2 Checkbox:
//-     .ui-kit__block.ui-kit__checkbox
//-       include ../components/checkbox.html
//-         {
//-           "name": "checkbox",
//-           "text": "text",
//-           "mod": "",
//-           "classes": ""
//-         }
//-       include ../components/checkbox.html
//-         {
//-           "name": "checkbox",
//-           "text": "text 2",
//-           "mod": "",
//-           "classes": ""
//-         }
//-       include ../components/checkbox.html
//-         {
//-           "name": "checkbox",
//-           "text": "По популярности",
//-           "mod": "checkbox--tag",
//-           "classes": "btn btn--tag btn--small"
//-         }
//-       include ../components/checkbox.html
//-         {
//-           "name": "checkbox",
//-           "text": "По цене",
//-           "mod": "checkbox--tag",
//-           "classes": "btn btn--tag btn--small"
//-         }

//-     h2 Radio:
//-     .ui-kit__block.ui-kit__radio
//-       include ../components/radio.html
//-         {
//-           "name": "radio-uikit",
//-           "text": "text",
//-           "mod": "",
//-           "value": "1"
//-         }
//-       include ../components/radio.html
//-         {
//-           "name": "radio-uikit",
//-           "text": "text",
//-           "mod": "",
//-           "value": "2"
//-         }
//-       include ../components/radio.html
//-         {
//-           "name": "radio-uikit",
//-           "text": "text",
//-           "mod": "",
//-           "value": "3"
//-         }
//-       include ../components/radio.html
//-         {
//-           "name": "radio-uikit",
//-           "text": "text",
//-           "mod": "",
//-           "value": "4"
//-         }
//-       include ../components/radio.html
//-         {
//-           "name": "radio-uikit",
//-           "text": "active",
//-           "mod": "active",
//-           "value": "5"
//-         }
//-       include ../components/radio.html
//-         {
//-           "name": "radio-uikit",
//-           "text": "<span class='btn btn--color-white'>like button <svg><use xlink:href='./img/icons/icons.svg#filters'></use></svg></span>",
//-           "extra-class": "radio--btn",
//-           "value": "btn"
//-         }


//-     h2 Counter:
//-     .ui-kit__block.ui-kit__counter
//-       include ../components/counter.html
//-         {
//-           "count": "9",
//-           "color": "green"
//-         }
//-       include ../components/counter.html
//-         {
//-           "count": "1",
//-           "color": "primary"
//-         }
//-       include ../components/counter.html
//-         {
//-           "count": "32",
//-           "color": "red"
//-         }
//-       include ../components/counter.html
//-         {
//-           "count": "10",
//-           "color": "grey"
//-         }

//-     h2 Rating:
//-     .ui-kit__block
//-       include ../components/rating.html
//-         {
//-           "value": 3
//-         }

//-     h2 Rating hover (active select):
//-     .ui-kit__block
//-       include ../components/rating.html
//-         {
//-           "extra-class": "rating--select",
//-           "name": "rating"
//-         }

//-     h2 Collapse:
//-     include ../components/collapse.html
//-       {
//-         "title": "Title",
//-         "isClosed": false,
//-         "icon": "collapse",
//-         "body": "<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt neque quidem non, voluptatem velit quo laudantium ex minus error rem officia, nulla a nobis iure est vitae! Voluptas, delectus accusamus.</div>"
//-       }

//-     h2 Collapse arrow icon:
//-     include ../components/collapse.html
//-       {
//-         "extra-class": "collapse--arrow",
//-         "title": "Title",
//-         "isClosed": false,
//-         "icon": "arrow",
//-         "body": "<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt neque quidem non, voluptatem velit quo laudantium ex minus error rem officia, nulla a nobis iure est vitae! Voluptas, delectus accusamus.</div>"
//-       }

//-     h2 Popup (Modals):
//-     include ../components/popup.html
//-       {
//-         "extra-class": "",
//-         "id": "1",
//-         "title": "",
//-         "body": "<div>popup 1</div>"
//-       }
//-     include ../components/popup.html
//-       {
//-         "extra-class": "",
//-         "id": "2",
//-         "title": "",
//-         "body": "<div>popup 2</div>"
//-       }
//-     include ../components/popup.html
//-       {
//-         "extra-class": "",
//-         "id": "title",
//-         "title": "Popup c title и с кнопкой закрытия ->",
//-         "body": "<div>Контент модалки</div>"
//-       }

//-     .btn(data-popup="1") open popup 1
//-     .btn(data-popup="2") open popup 2
//-     .btn(data-popup="title") Popup c title

//-     h2 Badges:
//-     .ui-kit__block.ui-kit__block--primary.ui-kit__badges
//-       include ../components/badge.html
//-         {
//-           "extra-class": "",
//-           "body": "<span class='badge__sub'>до</span>-50%"
//-         }
//-       include ../components/badge.html
//-         {
//-           "extra-class": "",
//-           "body": "<svg><use xlink:href='./img/icons/icons.svg#camera\'></use></svg>"
//-         }
//-       include ../components/badge.html
//-         {
//-           "extra-class": "",
//-           "body": "СП"
//-         }
//-       include ../components/badge.html
//-         {
//-           "extra-class": "",
//-           "body": "TFF"
//-         }
//-       include ../components/badge.html
//-         {
//-           "extra-class": "badge--big",
//-           "body": "big"
//-         }
//-       include ../components/badge.html
//-         {
//-           "extra-class": "badge--small",
//-           "body": "small"
//-         }
//-       include ../components/badge.html
//-         {
//-           "extra-class": "badge--round badge--font-commissioner badge--color-white",
//-           "body": "Round"
//-         }
//-       include ../components/badge.html
//-         {
//-           "extra-class": "badge--big badge--without-border",
//-           "body": "big without border"
//-         }
//-       include ../components/badge.html
//-         {
//-           "extra-class": "badge--font-commissioner",
//-           "body": "font commissioner"
//-         }

//-     .ui-kit__block.ui-kit__badges
//-       include ../components/badge.html
//-         {
//-           "extra-class": "badge--font-commissioner badge--color-primary-light badge--without-border",
//-           "body": "color light primary"
//-         }
//-       include ../components/badge.html
//-         {
//-           "extra-class": "badge--font-commissioner badge--color-green badge--without-border",
//-           "body": "color green"
//-         }
//-       include ../components/badge.html
//-         {
//-           "extra-class": "badge--font-commissioner badge--color-grey badge--without-border",
//-           "body": "color grey"
//-         }

//-     h2 Swiper:
//-     .ui-kit__block.ui-kit__swiper-btns
//-       | swiper кнопки отдельно от блока
//-       br
//-       | если swiper 1 на странице, то при инициализации, можно кнопки не передавать
//-       .swiper.swiper-uikit-btns
//-         .swiper-wrapper
//-           .swiper-slide Slide 1
//-           .swiper-slide Slide 2
//-           .swiper-slide Slide 3
//-           | ...
//-       .swiper-button-prev.swiper-button-out-prev
//-         svg
//-           use(xlink:href="./img/icons/icons.svg#arrow")
//-       .swiper-button-next.swiper-button-out-next
//-         svg
//-           use(xlink:href="./img/icons/icons.svg#arrow")

//-     h2 Range Slider nouislider:
//-     .ui-kit__block.ui-kit__slider
//-       include ../components/range-slider.html
//-       - var minName = "rangemin"
//-       - var maxName = "rangemax"
//-       - var minValue = "200000"
//-       - var maxValue = "500000"
//-       - var min = "50000"
//-       - var max = "1000000"
//-       - var currencySymbol = "&#8381;"
//-       - var step = "1000"

//-     .ui-kit__block.ui-kit__slider
//-       include ../components/range-slider.html
//-       - var minName = "rangemin2"
//-       - var maxName = "rangemax2"
//-       - var minValue = "20"
//-       - var maxValue = "80"
//-       - var min = "1"
//-       - var max = "100"
//-       - var currencySymbol = "%"
//-       - var step = "1"

//-     h2 Divider:
//-     .ui-kit__block.ui-kit__divider
//-       .hr

//-     h2 Progress:
//-     .ui-kit__block.ui-kit__progress
//-       include ../components/progress.html
//-       - var color = "primary"
//-       - var width = "35%"

//-       include ../components/progress.html
//-       - var color = "green"
//-       - var width = "85%"

//-       include ../components/progress.html
//-       - var color = "grey"
//-       - var width = "20%"

//-     h2 Tabs:
//-     .ui-kit__block.ui-kit__tabs
//-       include ../components/tabs.html

//-     h2 Tabs с раздельными табами:
//-     .ui-kit__block.ui-kit__tabs
//-       include ../components/tabs.html
//-       - var extraClass = "tabs--split"

//-     h2 Chips:
//-     .ui-kit__block.ui-kit__chips
//-       include ../components/chip.html
//-       - var title = "Размеры"
//-       - var options = "36, 38, 40"
//-       - var count = "22"

//-       include ../components/chip.html
//-       - var title = "Размеры2"
//-       - var options = "36, 38, 40"
//-       - var count = "42"

//-       include ../components/chip.html
//-       - var title = "Размеры3"
//-       - var options = "36, 38, 40"
//-       - var count = "18"

//-     h2 Scroll:
//-     .ui-kit__block.ui-kit__scroll
//-       button.btn.scroll Скролл до верха
//-       button.btn.scroll(data-target="ui-kit__radio") Скролл до назначенного элемента

//-     h2 Tooltip:
//-     .ui-kit__block
//-       svg(style="color: red", data-tooltip="Тултип Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio eius obcaecati at laboriosam veniam impedit laudantium velit atque nemo ducimus sint inventore, dolore qui hic doloremque voluptatum perferendis labore quasi!")
//-         use(xlink:href="./img/icons/icons.svg#info")


